footer.bg-dark.text-white.text-center.py-4.w-100
    .container
        .d-flex.flex-column.align-items-center
            p.mb-2 &copy; 2024 Mi Primera Pagina. Todos los derechos reservados.
            .d-flex.justify-content-center.mb-3
                a.text-white.me-3(href="https://www.facebook.com/") Facebook
                a.text-white.me-3(href="#") Twitter
                a.text-white(href="https://www.instagram.com/") Instagram
            p.text-white.mb-0 UNAM FES ARAGON | Páginas Web
            img.nav-icon-chico(src="/image/icons/logo.png" alt="login icon")
