extends ../layout/index.pug

block content
    .container
        h2.text-center.mt-4 Carrito de Compras
        br
        .table-responsive
            table.table-carrito
                thead
                    tr
                        th Imagen
                        th Producto
                        th Cantidad
                        th Precio
                        th Acciones
                tbody
                tfoot
                    tr
                        td(colspan="3").text-right Total
                        td $#{total || 0}
                        td
                            .acciones-carrito
                                //button.boton.boton-comprar#btnComprar Pagar
                                a.boton.boton-vaciar(href="#") Vaciar Carrito

        form#pagoForm(method="POST" action="/consola/carrito/pagar")
            h3.mt-5 Detalles de Pago
            .form-group
                label(for="nombre_en_tarjeta") Nombre en la tarjeta
                input#nombre_en_tarjeta.inputs(type="text" name="nombre_en_tarjeta" required)
            .form-group
                label(for="numero_en_tarjeta") Número de tarjeta
                input#numero_en_tarjeta.inputs(type="text" name="numero_en_tarjeta" maxlength="16" required)
            .form-group
                label(for="vencimiento") Fecha de vencimiento
                input#vencimiento.inputs(type="date" name="vencimiento" required)
            .form-group
                label(for="direccion") Dirección
                input#direccion.inputs(type="text" name="direccion" required)
            input(type="hidden" name="id_usuario" value="1")
            br
            button.boton.boton-comprar(type="submit") Confirmar Pago





